<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Top Hits 2000-2019 Visualization</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <h1>Spotify Top Hits 2000-2019 Visualization</h1>

    <div class="subtitle">Explore the Top Hits from 2000 to 2019</div>
    <div class="description">
        This website analyzes the top tracks on Spotify from 2000 to 2019, examining the relationship 
        between song duration, loudness, and danceability with their popularity. Additionally, 
        it showcases the prevalence of explicit content over the years and provides a timeline 
        that captures key trends and insights from the data. Dive into the visualizations to 
        uncover what makes a hit song and how musical trends have evolved over the past two decades.
    </div>

    <!-- First chart container -->
    <div class="container">
        <select id="chartSelector">
            <option value="Danceability vs. Popularity">Danceability vs. Popularity</option>
            <option value="Duration vs. Popularity">Duration vs. Popularity</option>
            <option value="Loudness vs. Popularity">Loudness vs. Popularity</option>
        </select>
        <div id="plot"></div>
        <div id="descriptionChart"></div>
    </div>

    <!-- Second chart container -->
    <div class="container">
        <select id="chartSelector2">
            <option value="Explicit content">Explicit content</option>
            <option value="Songs per year">Songs per year</option>
        </select>
        <div id="piechart"></div>
        <div id="descriptionChart2"></div>
    </div>

    <script src="/static/js/example.js"></script>
    <script src="/static/js/Pie_chart.js"></script>
</body>
</html>